.container {
    display: grid;
    grid-template-rows: 80px 1fr 20px;

}

.header {
    display: flex;
}

.header .left {
    justify-content: flex-start;

}

.header .right {
    justify-content: flex-end;
}